In [123]:
import numpy as np
import pandas as pd
import requests
import tempfile
import os
import pyreadstat

#------------------------------------------------------
# 1. Loader that downloads any NHANES .xpt file safely
#------------------------------------------------------
def load_nhanes_xpt(file, year="2015"):
    url = f"https://wwwn.cdc.gov/Nchs/Data/Nhanes/Public/{year}/DataFiles/{file}"

    headers = {
        "User-Agent": (
            "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) "
            "AppleWebKit/537.36 (KHTML, like Gecko) "
            "Chrome/120.0 Safari/537.36"
        )
    }
    r = requests.get(url, headers=headers)
    r.raise_for_status()

    if b"<html" in r.content[:200].lower():
        preview = r.content[:500].decode(errors="ignore")
        raise ValueError(f"HTML returned instead of XPT:\n{url}\n\nPreview:\n{preview}")

    with tempfile.NamedTemporaryFile(suffix=".xpt", delete=False) as tmp:
        tmp.write(r.content)
        tmp_path = tmp.name

    try:
        df, meta = pyreadstat.read_xport(tmp_path)
    finally:
        os.remove(tmp_path)

    return df

In [118]:
nhanes_files = {
    "DEMO":      "DEMO_I.xpt",
    "HDL":       "HDL_I.xpt",
    "TCHOL":     "TCHOL_I.xpt",
    "TRIGLY":    "TRIGLY_I.xpt",
    "GLU":       "GLU_I.xpt",
    "INS":       "INS_I.xpt",
    "DPQ":       "DPQ_I.xpt",
    "SLQ":       "SLQ_I.xpt",
    "DR1TOT":    "DR1TOT_I.xpt",
    "DR1IFF":    "DR1IFF_I.xpt",  # <-- we will EXCLUDE this later
    "PAQ":       "PAQ_I.xpt",
    "BPX":       "BPX_I.xpt",
    "BIOPRO":    "BIOPRO_I.xpt",
    "ALB_CR":    "ALB_CR_I.xpt"
}

In [119]:
all_dfs = {}

for name, fname in nhanes_files.items():
    print(f"Downloading {name} ...")
    d = load_nhanes_xpt(fname, "2015")
    print(name, d.shape)
    all_dfs[name] = d

Downloading DEMO ...
DEMO (9971, 47)
Downloading HDL ...
HDL (8021, 3)
Downloading TCHOL ...
TCHOL (8021, 3)
Downloading TRIGLY ...
TRIGLY (3191, 6)
Downloading GLU ...
GLU (3191, 4)
Downloading INS ...
INS (3191, 7)
Downloading DPQ ...
DPQ (5735, 11)
Downloading SLQ ...
SLQ (6327, 8)
Downloading DR1TOT ...
DR1TOT (9544, 168)
Downloading DR1IFF ...
DR1IFF (121481, 84)
Downloading PAQ ...
PAQ (9255, 94)
Downloading BPX ...
BPX (9544, 21)
Downloading BIOPRO ...
BIOPRO (6744, 38)
Downloading ALB_CR ...
ALB_CR (8608, 8)

In [120]:
fped, meta = pyreadstat.read_sas7bdat("fped_dr1tot_1516.sas7bdat")
print("FPED shape:", fped.shape)

FPED shape: (9544, 51)

In [122]:
print("Does merged contain DEMO columns?")
print("RIAGENDR" in merged.columns)
print("RIDAGEYR" in merged.columns)
print("RIDRETH3" in merged.columns)
print("Number of columns:", len(merged.columns))

merged.columns.tolist()[:50]  # preview first 50 cols

Does merged contain DEMO columns?
True
True
True
Number of columns: 489

['SEQN',
 'SDDSRVYR',
 'RIDSTATR',
 'RIAGENDR',
 'RIDAGEYR',
 'RIDAGEMN',
 'RIDRETH1',
 'RIDRETH3',
 'RIDEXMON',
 'RIDEXAGM',
 'DMQMILIZ',
 'DMQADFC',
 'DMDBORN4',
 'DMDCITZN',
 'DMDYRSUS',
 'DMDEDUC3',
 'DMDEDUC2',
 'DMDMARTL',
 'RIDEXPRG',
 'SIALANG',
 'SIAPROXY',
 'SIAINTRP',
 'FIALANG',
 'FIAPROXY',
 'FIAINTRP',
 'MIALANG',
 'MIAPROXY',
 'MIAINTRP',
 'AIALANGA',
 'DMDHHSIZ',
 'DMDFMSIZ',
 'DMDHHSZA',
 'DMDHHSZB',
 'DMDHHSZE',
 'DMDHRGND',
 'DMDHRAGE',
 'DMDHRBR4',
 'DMDHREDU',
 'DMDHRMAR',
 'DMDHSEDU',
 'WTINT2YR',
 'WTMEC2YR',
 'SDMVPSU',
 'SDMVSTRA',
 'INDHHIN2',
 'INDFMIN2',
 'INDFMPIR',
 'LBDHDD',
 'LBDHDDSI',
 'LBXTC']

In [121]:
# ================================================================
#  FULL NHANES → FEATURE ENGINEERING → rPDQS → LONGEVITY 1.1
# ================================================================

import numpy as np
import pandas as pd

# ------------------------------------------------------------
# 0. Start from merged NHANES + FPED person-level
# ------------------------------------------------------------
df = merged.copy()

# Merge FPED (person-level DR1TOT) onto merged NHANES
df = df.merge(fped, on="SEQN", how="left")


# ============================================================
# 1. BASIC DEMOGRAPHICS
# ============================================================
df["sex"] = df["RIAGENDR"]                     # 1=Male, 2=Female
df["race_ethnicity"] = df["RIDRETH3"]
df["age"] = df["RIDEXAGM"] / 12                # NHANES reports age in months
df["poverty_income_ratio"] = df["INDFMIN2"]


# ============================================================
# 2. RENAME LAB VARIABLES
# ============================================================
rename_map = {
    "LBXGLU": "fasting_glucose",
    "LBXIN": "fasting_insulin",
    "LBDHDD": "hdl_cholesterol",
    "LBDHDL": "hdl_cholesterol",
    "LBDTCSI": "total_cholesterol",
    "LBDTRSI": "triglycerides",
}
df.rename(columns={k:v for k,v in rename_map.items() if k in df.columns}, inplace=True)


# ============================================================
# 3. LDL + ApoB
# ============================================================
def friedewald(row):
    tg = row["triglycerides"]
    if pd.isna(tg) or tg >= 400:
        return np.nan
    return row["total_cholesterol"] - row["hdl_cholesterol"] - tg/5

df["ldl_cholesterol"] = df.apply(friedewald, axis=1)
df["apob_est"] = 0.65 * df["ldl_cholesterol"] + 0.1 * df["triglycerides"]


# ============================================================
# 4. HOMA-IR
# ============================================================
df["homa_ir"] = (df["fasting_insulin"] * df["fasting_glucose"]) / 405


# ============================================================
# 5. BLOOD PRESSURE
# ============================================================
sbp_cols = [c for c in df.columns if c.startswith("BPXSY")]
dbp_cols = [c for c in df.columns if c.startswith("BPXDI")]

df["sbp"] = df[sbp_cols].mean(axis=1)
df["dbp"] = df[dbp_cols].mean(axis=1)
df["pulse_pressure"] = df["sbp"] - df["dbp"]


# ============================================================
# 6. eGFR — CKD-EPI 2021
# ============================================================
if "LBXSCR" in df.columns:
    scr = df["LBXSCR"]
    k = np.where(df["sex"] == 2, 0.7, 0.9)
    alpha = np.where(df["sex"] == 2, -0.241, -0.302)

    min_part = np.minimum(scr / k, 1) ** alpha
    max_part = np.maximum(scr / k, 1) ** -1.2

    df["egfr"] = 142 * min_part * max_part * (0.9938 ** df["age"])
else:
    df["egfr"] = np.nan


# ============================================================
# 7. SLEEP — SLQ030
# ============================================================
df["sleep_hours"] = df["SLQ030"]

def calc_sleep_score(x):
    if pd.isna(x): return np.nan
    if 7 <= x <= 9: return 100
    if 6 <= x < 7 or 9 < x <= 10: return 80
    return 50

df["sleep_score"] = df["sleep_hours"].apply(calc_sleep_score)


# ============================================================
# 8. PHQ-9
# ============================================================
phq_cols = [c for c in df.columns if c.startswith("DPQ0")]
df["phq9_total"] = df[phq_cols].sum(axis=1)


# ============================================================
# 9. MVPA — leisure activity
# ============================================================
if all(c in df.columns for c in ["PAD615","PAD630","PAD645","PAD660"]):
    vig = df["PAD615"] * df["PAD630"]
    mod = df["PAD645"] * df["PAD660"]
    df["mvpa_min_week"] = vig * 2 + mod
else:
    df["mvpa_min_week"] = np.nan


# ============================================================
# 10. rPDQS DIET QUALITY
# ============================================================

# --- Restrict to reliable day-1 recall
if "DR1DRSTZ" in df.columns:
    mask_bad = df["DR1DRSTZ"] != 1
else:
    mask_bad = pd.Series(False, index=df.index)

# Use FPED variables directly
servings = df[[
    "SEQN",
    "DR1T_V_DRKGR","DR1T_V_OTHER","DR1T_V_REDOR_TOMATO",
    "DR1T_V_LEGUMES","DR1T_G_WHOLE","DR1T_G_REFINED",
    "DR1T_F_OTHER","DR1T_F_CITMLB","DR1T_PF_NUTSDS",
    "DR1T_PF_MEAT","DR1T_PF_CUREDMEAT",
    "DR1T_PF_SEAFD_HI","DR1T_PF_SEAFD_LOW",
    "DR1T_D_MILK","DR1T_D_YOGURT","DR1T_A_DRINKS",
    "DR1T_SOLID_FATS"
]].copy()

# Zero out unreliable recalls
servings.loc[mask_bad, servings.columns[1:]] = np.nan
servings.set_index("SEQN", inplace=True)

# Build food groups
servings["dark_green_veg"] = servings["DR1T_V_DRKGR"]
servings["other_veg"] = (
    servings["DR1T_V_OTHER"] +
    servings["DR1T_V_REDOR_TOMATO"]
    - servings["DR1T_V_LEGUMES"].fillna(0)
)
servings["citrus_melons_berries"] = servings["DR1T_F_CITMLB"]
servings["other_fruit"] = servings["DR1T_F_OTHER"]
servings["legumes"] = servings["DR1T_V_LEGUMES"]
servings["whole_grains"] = servings["DR1T_G_WHOLE"]
servings["nuts_seeds"] = servings["DR1T_PF_NUTSDS"]
servings["low_fat_dairy"] = servings["DR1T_D_MILK"] + servings["DR1T_D_YOGURT"]
servings["fish"] = servings["DR1T_PF_SEAFD_HI"] + servings["DR1T_PF_SEAFD_LOW"]

servings["red_meat"] = servings["DR1T_PF_MEAT"]
servings["processed_meat"] = servings["DR1T_PF_CUREDMEAT"]
servings["refined_grains"] = servings["DR1T_G_REFINED"]
servings["ssb"] = servings["DR1T_A_DRINKS"]
servings["fried_foods"] = servings["DR1T_SOLID_FATS"]

healthy = ["dark_green_veg","other_veg","citrus_melons_berries","other_fruit",
           "legumes","whole_grains","nuts_seeds","low_fat_dairy","fish"]
unhealthy = ["red_meat","processed_meat","refined_grains","ssb","fried_foods"]

# Scoring functions
def pos(s): return pd.qcut(s.rank(method="first"), 5, labels=[0,1,2,3,4], duplicates="drop").astype(float)
def neg(s): return pd.qcut(s.rank(method="first"), 5, labels=[4,3,2,1,0], duplicates="drop").astype(float)

for g in healthy:
    servings[g + "_score"] = pos(servings[g])

for g in unhealthy:
    servings[g + "_score"] = neg(servings[g])

score_cols = [g + "_score" for g in healthy + unhealthy]
servings["rpdqs_total"] = servings[score_cols].sum(axis=1)
servings["rpdqs_normalized"] = (servings["rpdqs_total"] / 56) * 100

df = df.merge(servings[["rpdqs_total","rpdqs_normalized"]],
              left_on="SEQN", right_index=True, how="left")


# ============================================================
# SAVE FEATURE-ENGINEERED DATASET
# ============================================================
df_final = df.copy()

print("df_final shape:", df_final.shape)
print(df_final[["SEQN","rpdqs_normalized"]].head())


# ============================================================
# 11. LONGEVITY SCORE v1.1 NORMALIZATION
# ============================================================

df = df_final.copy()

def normalize_positive(x, low, high):
    return ((x - low) / (high - low)) * 100

def normalize_negative(x, low, high):
    return ((high - x) / (high - low)) * 100

# BMI
if {"BMXWT","BMXHT"}.issubset(df.columns):
    df["bmi"] = df["BMXWT"]/(df["BMXHT"]/100)**2
df["bmi_norm"] = normalize_negative(df["bmi"],18.5,35)

# ApoB
df["apob_norm"] = normalize_negative(df["apob_est"],40,120)

# CRP
df["crp_norm"] = normalize_negative(df["LBXCRP"],0.1,10)

# PHQ-9
df["phq9_norm"] = normalize_negative(df["phq9_total"],0,27)

# ALT
df["alt_norm"] = normalize_negative(df["LBXSGPT"],8,50)

# eGFR
df["egfr_norm"] = normalize_positive(df["egfr"],60,110)

# MVPA
df["mvpa_norm"] = normalize_positive(df["mvpa_min_week"],0,300)

# Diet
df["diet_norm"] = df["rpdqs_normalized"]

# All other fields = NaN place-holders
df["ogtt_norm"]=np.nan
df["vo2max_norm"]=np.nan
df["pack_years_norm"]=np.nan
df["moca_norm"]=np.nan
df["cac_norm"]=np.nan
df["hrv_norm"]=np.nan
df["bmd_norm"]=np.nan
df["truage_norm"]=np.nan
df["shdl_norm"]=np.nan
df["rem_norm"]=np.nan
df["grip_norm"]=np.nan
df["swls_norm"]=np.nan

# Final 20 variables
longevity_inputs=[
"ogtt_norm","apob_norm","vo2max_norm","crp_norm","bmi_norm",
"pack_years_norm","moca_norm","mvpa_norm","cac_norm","hrv_norm",
"phq9_norm","alt_norm","egfr_norm","bmd_norm","truage_norm",
"shdl_norm","rem_norm","grip_norm","swls_norm","diet_norm"
]

df_longevity = df[["SEQN"]+longevity_inputs]
print(df_longevity.head())

KeyError: 'RIAGENDR'

In [115]:
# Start from DEMO (person-level gold standard)
df = all_dfs["DEMO"].copy()

# merge all other person-level NHANES datasets except DR1IFF
for name, d in all_dfs.items():
    if name in ["DEMO", "DR1IFF"]:   # exclude DEMO (already loaded) and DR1IFF (food item file)
        continue
    df = df.merge(d, on="SEQN", how="left")

# merge FPED food-group data
df = df.merge(fped, on="SEQN", how="left")

print("Merged person-level shape:", df.shape)
df.head()

Merged person-level shape: (9971, 456)

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR_x,RIDAGEYR_x,RIDAGEMN,RIDRETH1,RIDRETH3_x,RIDEXMON,RIDEXAGM,...,DR1T_PF_LEGUMES,DR1T_PF_TOTAL,DR1T_D_MILK,DR1T_D_YOGURT,DR1T_D_CHEESE,DR1T_D_TOTAL,DR1T_OILS,DR1T_SOLID_FATS,DR1T_ADD_SUGARS,DR1T_A_DRINKS
0,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,2.69,7.57,0.00,0.0,0.00,0.00,24.93,35.37,3.21,0.00
1,83733.0,9.0,2.0,1.0,53.0,NaN,3.0,3.0,1.0,NaN,...,0.00,5.18,0.11,0.0,0.00,0.11,4.69,57.97,40.17,6.34
2,83734.0,9.0,2.0,1.0,78.0,NaN,3.0,3.0,2.0,NaN,...,7.47,7.89,0.13,0.0,0.00,0.13,37.43,31.27,3.07,0.00
3,83735.0,9.0,2.0,2.0,56.0,NaN,3.0,3.0,2.0,NaN,...,0.00,3.33,1.66,0.0,1.17,2.83,21.12,18.58,6.64,0.00
4,83736.0,9.0,2.0,2.0,42.0,NaN,4.0,4.0,2.0,NaN,...,0.00,2.17,0.00,0.0,0.00,0.00,6.40,7.07,13.12,0.00

In [116]:
# ---------------------------
# SAFELY assign sex and age
# ---------------------------

# --- SEX ---
if "sex" in df.columns:
    # already present (from rename or earlier merge)
    df["sex"] = df["sex"]
elif "RIAGENDR" in df.columns:
    df["sex"] = df["RIAGENDR"]
elif "RIAGENDER" in df.columns:
    df["sex"] = df["RIAGENDER"]
elif "RIAGENDR_x" in df.columns:
    df["sex"] = df["RIAGENDR_x"]
elif "RIAGENDR_y" in df.columns:
    df["sex"] = df["RIAGENDR_y"]
else:
    print("⚠️ WARNING: No sex variable found. Assigning NaN.")
    df["sex"] = np.nan

# --- AGE ---
if "age" in df.columns:
    df["age"] = df["age"]
elif "RIDAGEYR" in df.columns:
    df["age"] = df["RIDAGEYR"]
elif "RIDAGEYR_x" in df.columns:
    df["age"] = df["RIDAGEYR_x"]
elif "RIDAGEYR_y" in df.columns:
    df["age"] = df["RIDAGEYR_y"]
elif "RIDAGEY" in df.columns:  # some cycles
    df["age"] = df["RIDAGEY"]
else:
    print("⚠️ WARNING: No age variable found. Assigning NaN.")
    df["age"] = np.nan

In [117]:
# ================================================================
#  FULL NHANES → FEATURE ENGINEERING → rPDQS → LONGEVITY 1.1
# ================================================================

import numpy as np
import pandas as pd

# ------------------------------------------------------------
# 0. Start from merged NHANES + FPED person-level
# ------------------------------------------------------------
df = merged.copy()

# Merge FPED (person-level DR1TOT) onto merged NHANES
df = df.merge(fped, on="SEQN", how="left")


# ============================================================
# 1. BASIC DEMOGRAPHICS
# ============================================================
df["sex"] = df["RIAGENDR"]                     # 1=Male, 2=Female
df["race_ethnicity"] = df["RIDRETH3"]
df["age"] = df["RIDEXAGM"] / 12                # NHANES reports age in months
df["poverty_income_ratio"] = df["INDFMIN2"]


# ============================================================
# 2. RENAME LAB VARIABLES
# ============================================================
rename_map = {
    "LBXGLU": "fasting_glucose",
    "LBXIN": "fasting_insulin",
    "LBDHDD": "hdl_cholesterol",
    "LBDHDL": "hdl_cholesterol",
    "LBDTCSI": "total_cholesterol",
    "LBDTRSI": "triglycerides",
}
df.rename(columns={k:v for k,v in rename_map.items() if k in df.columns}, inplace=True)


# ============================================================
# 3. LDL + ApoB
# ============================================================
def friedewald(row):
    tg = row["triglycerides"]
    if pd.isna(tg) or tg >= 400:
        return np.nan
    return row["total_cholesterol"] - row["hdl_cholesterol"] - tg/5

df["ldl_cholesterol"] = df.apply(friedewald, axis=1)
df["apob_est"] = 0.65 * df["ldl_cholesterol"] + 0.1 * df["triglycerides"]


# ============================================================
# 4. HOMA-IR
# ============================================================
df["homa_ir"] = (df["fasting_insulin"] * df["fasting_glucose"]) / 405


# ============================================================
# 5. BLOOD PRESSURE
# ============================================================
sbp_cols = [c for c in df.columns if c.startswith("BPXSY")]
dbp_cols = [c for c in df.columns if c.startswith("BPXDI")]

df["sbp"] = df[sbp_cols].mean(axis=1)
df["dbp"] = df[dbp_cols].mean(axis=1)
df["pulse_pressure"] = df["sbp"] - df["dbp"]


# ============================================================
# 6. eGFR — CKD-EPI 2021
# ============================================================
if "LBXSCR" in df.columns:
    scr = df["LBXSCR"]
    k = np.where(df["sex"] == 2, 0.7, 0.9)
    alpha = np.where(df["sex"] == 2, -0.241, -0.302)

    min_part = np.minimum(scr / k, 1) ** alpha
    max_part = np.maximum(scr / k, 1) ** -1.2

    df["egfr"] = 142 * min_part * max_part * (0.9938 ** df["age"])
else:
    df["egfr"] = np.nan


# ============================================================
# 7. SLEEP — SLQ030
# ============================================================
df["sleep_hours"] = df["SLQ030"]

def calc_sleep_score(x):
    if pd.isna(x): return np.nan
    if 7 <= x <= 9: return 100
    if 6 <= x < 7 or 9 < x <= 10: return 80
    return 50

df["sleep_score"] = df["sleep_hours"].apply(calc_sleep_score)


# ============================================================
# 8. PHQ-9
# ============================================================
phq_cols = [c for c in df.columns if c.startswith("DPQ0")]
df["phq9_total"] = df[phq_cols].sum(axis=1)


# ============================================================
# 9. MVPA — leisure activity
# ============================================================
if all(c in df.columns for c in ["PAD615","PAD630","PAD645","PAD660"]):
    vig = df["PAD615"] * df["PAD630"]
    mod = df["PAD645"] * df["PAD660"]
    df["mvpa_min_week"] = vig * 2 + mod
else:
    df["mvpa_min_week"] = np.nan


# ============================================================
# 10. rPDQS DIET QUALITY
# ============================================================

# --- Restrict to reliable day-1 recall
if "DR1DRSTZ" in df.columns:
    mask_bad = df["DR1DRSTZ"] != 1
else:
    mask_bad = pd.Series(False, index=df.index)

# Use FPED variables directly
servings = df[[
    "SEQN",
    "DR1T_V_DRKGR","DR1T_V_OTHER","DR1T_V_REDOR_TOMATO",
    "DR1T_V_LEGUMES","DR1T_G_WHOLE","DR1T_G_REFINED",
    "DR1T_F_OTHER","DR1T_F_CITMLB","DR1T_PF_NUTSDS",
    "DR1T_PF_MEAT","DR1T_PF_CUREDMEAT",
    "DR1T_PF_SEAFD_HI","DR1T_PF_SEAFD_LOW",
    "DR1T_D_MILK","DR1T_D_YOGURT","DR1T_A_DRINKS",
    "DR1T_SOLID_FATS"
]].copy()

# Zero out unreliable recalls
servings.loc[mask_bad, servings.columns[1:]] = np.nan
servings.set_index("SEQN", inplace=True)

# Build food groups
servings["dark_green_veg"] = servings["DR1T_V_DRKGR"]
servings["other_veg"] = (
    servings["DR1T_V_OTHER"] +
    servings["DR1T_V_REDOR_TOMATO"]
    - servings["DR1T_V_LEGUMES"].fillna(0)
)
servings["citrus_melons_berries"] = servings["DR1T_F_CITMLB"]
servings["other_fruit"] = servings["DR1T_F_OTHER"]
servings["legumes"] = servings["DR1T_V_LEGUMES"]
servings["whole_grains"] = servings["DR1T_G_WHOLE"]
servings["nuts_seeds"] = servings["DR1T_PF_NUTSDS"]
servings["low_fat_dairy"] = servings["DR1T_D_MILK"] + servings["DR1T_D_YOGURT"]
servings["fish"] = servings["DR1T_PF_SEAFD_HI"] + servings["DR1T_PF_SEAFD_LOW"]

servings["red_meat"] = servings["DR1T_PF_MEAT"]
servings["processed_meat"] = servings["DR1T_PF_CUREDMEAT"]
servings["refined_grains"] = servings["DR1T_G_REFINED"]
servings["ssb"] = servings["DR1T_A_DRINKS"]
servings["fried_foods"] = servings["DR1T_SOLID_FATS"]

healthy = ["dark_green_veg","other_veg","citrus_melons_berries","other_fruit",
           "legumes","whole_grains","nuts_seeds","low_fat_dairy","fish"]
unhealthy = ["red_meat","processed_meat","refined_grains","ssb","fried_foods"]

# Scoring functions
def pos(s): return pd.qcut(s.rank(method="first"), 5, labels=[0,1,2,3,4], duplicates="drop").astype(float)
def neg(s): return pd.qcut(s.rank(method="first"), 5, labels=[4,3,2,1,0], duplicates="drop").astype(float)

for g in healthy:
    servings[g + "_score"] = pos(servings[g])

for g in unhealthy:
    servings[g + "_score"] = neg(servings[g])

score_cols = [g + "_score" for g in healthy + unhealthy]
servings["rpdqs_total"] = servings[score_cols].sum(axis=1)
servings["rpdqs_normalized"] = (servings["rpdqs_total"] / 56) * 100

df = df.merge(servings[["rpdqs_total","rpdqs_normalized"]],
              left_on="SEQN", right_index=True, how="left")


# ============================================================
# SAVE FEATURE-ENGINEERED DATASET
# ============================================================
df_final = df.copy()

print("df_final shape:", df_final.shape)
print(df_final[["SEQN","rpdqs_normalized"]].head())


# ============================================================
# 11. LONGEVITY SCORE v1.1 NORMALIZATION
# ============================================================

df = df_final.copy()

def normalize_positive(x, low, high):
    return ((x - low) / (high - low)) * 100

def normalize_negative(x, low, high):
    return ((high - x) / (high - low)) * 100

# BMI
if {"BMXWT","BMXHT"}.issubset(df.columns):
    df["bmi"] = df["BMXWT"]/(df["BMXHT"]/100)**2
df["bmi_norm"] = normalize_negative(df["bmi"],18.5,35)

# ApoB
df["apob_norm"] = normalize_negative(df["apob_est"],40,120)

# CRP
df["crp_norm"] = normalize_negative(df["LBXCRP"],0.1,10)

# PHQ-9
df["phq9_norm"] = normalize_negative(df["phq9_total"],0,27)

# ALT
df["alt_norm"] = normalize_negative(df["LBXSGPT"],8,50)

# eGFR
df["egfr_norm"] = normalize_positive(df["egfr"],60,110)

# MVPA
df["mvpa_norm"] = normalize_positive(df["mvpa_min_week"],0,300)

# Diet
df["diet_norm"] = df["rpdqs_normalized"]

# All other fields = NaN place-holders
df["ogtt_norm"]=np.nan
df["vo2max_norm"]=np.nan
df["pack_years_norm"]=np.nan
df["moca_norm"]=np.nan
df["cac_norm"]=np.nan
df["hrv_norm"]=np.nan
df["bmd_norm"]=np.nan
df["truage_norm"]=np.nan
df["shdl_norm"]=np.nan
df["rem_norm"]=np.nan
df["grip_norm"]=np.nan
df["swls_norm"]=np.nan

# Final 20 variables
longevity_inputs=[
"ogtt_norm","apob_norm","vo2max_norm","crp_norm","bmi_norm",
"pack_years_norm","moca_norm","mvpa_norm","cac_norm","hrv_norm",
"phq9_norm","alt_norm","egfr_norm","bmd_norm","truage_norm",
"shdl_norm","rem_norm","grip_norm","swls_norm","diet_norm"
]

df_longevity = df[["SEQN"]+longevity_inputs]
print(df_longevity.head())

KeyError: 'RIAGENDR'

# feature engineering

# build rPDQS score

In [109]:
fped.columns[:20]

Index(['SEQN', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'SDMVPSU', 'SDMVSTRA',
       'INDFMIN2', 'INDFMPIR', 'WTDRD1', 'WTDR2D', 'DR1DRSTZ', 'DRABF',
       'DRDINT', 'DR1TNUMF', 'DR1T_F_CITMLB', 'DR1T_F_OTHER', 'DR1T_F_JUICE',
       'DR1T_F_TOTAL', 'DR1T_V_DRKGR', 'DR1T_V_REDOR_TOMATO'],
      dtype='object')

In [108]:
df["DR1DRSTZ"].value_counts(dropna=False).sort_index()

KeyError: 'DR1DRSTZ'

In [106]:
import numpy as np
import pandas as pd

# ==========================================================
# 1. Extract DR1IFF (food-item level file)
# ==========================================================
dr1 = all_dfs["DR1IFF"].copy()

# Keep only necessary columns
needed_cols = ["SEQN", "DR1IFDCD", "DR1IGRMS"]
missing_cols = [c for c in needed_cols if c not in dr1.columns]
if missing_cols:
    raise ValueError(f"Missing columns required for rPDQS: {missing_cols}")

dr1 = dr1[needed_cols].copy()

# ==========================================================
# 2. Create the FPED 4-digit food-group code
# ==========================================================
dr1["fg_code"] = (dr1["DR1IFDCD"] // 10000).astype("Int64")

# ==========================================================
# 3. Official rPDQS food-group map
# ==========================================================
rpdqs_map = {
    "dark_green_veg":       [6310, 6320],
    "other_veg":            [6110, 6120, 6130, 6140],
    "citrus_melons_berries":[6210, 6220, 6230],
    "other_fruit":          [6240, 6250],
    "legumes":              [7510],
    "whole_grains":         [5710, 5720],
    "nuts_seeds":           [7410, 7420],
    "low_fat_dairy":        [1310, 1320],
    "fish":                 [2710, 2720],

    # Negative food groups
    "red_meat":             [2510, 2520],
    "processed_meat":       [2530, 2540],
    "refined_grains":       [5610, 5620],
    "ssb":                  [9310, 9320, 9330],
    "fried_foods":          [6410, 6420]
}

# ==========================================================
# 4. Map each fg_code → rPDQS category
# ==========================================================
reverse_map = {code: group for group, codes in rpdqs_map.items() for code in codes}

def classify_food(code):
    return reverse_map.get(code, None)

dr1["rpdqs_cat"] = dr1["fg_code"].apply(classify_food)

# Drop rows not part of rPDQS
dr1 = dr1.dropna(subset=["rpdqs_cat"])

# ==========================================================
# 5. Compute total grams per category per SEQN
# ==========================================================
servings = (
    dr1.groupby(["SEQN", "rpdqs_cat"])["DR1IGRMS"]
       .sum()
       .unstack()
       .fillna(0)
)

# ==========================================================
# 6. Safe quintile scoring function
# ==========================================================
def safe_qcut(series, labels):
    s = series.fillna(0)

    try:
        q = pd.qcut(s, 5, labels=labels, duplicates="drop")
        # if bins collapse (common), fallback:
        if len(q.cat.categories) != len(labels):
            return pd.Series([labels[0]] * len(s), index=s.index, dtype=float)
        return q.astype(float)
    except Exception:
        # if all zeros or qcut cannot run:
        return pd.Series([labels[0]] * len(s), index=s.index, dtype=float)

# ==========================================================
# 7. Apply scoring rules
# ==========================================================
positive = [
    "dark_green_veg","other_veg","citrus_melons_berries","other_fruit",
    "legumes","whole_grains","nuts_seeds","low_fat_dairy","fish"
]

negative = ["red_meat","processed_meat","refined_grains","ssb","fried_foods"]

# Positive groups: 0 → 4
for col in positive:
    if col in servings.columns:
        servings[col + "_score"] = safe_qcut(servings[col], labels=[0,1,2,3,4])
    else:
        servings[col + "_score"] = 0

# Negative groups: 4 → 0
for col in negative:
    if col in servings.columns:
        servings[col + "_score"] = safe_qcut(servings[col], labels=[4,3,2,1,0])
    else:
        servings[col + "_score"] = 0

# ==========================================================
# 8. Total rPDQS and normalized score (0–100)
# ==========================================================
score_cols = [c for c in servings.columns if c.endswith("_score")]

servings["rpdqs_total"] = servings[score_cols].sum(axis=1)

servings["rpdqs_normalized"] = (
    servings["rpdqs_total"] / (len(score_cols) * 4) * 100
)
# Remove any previous rPDQS columns before re-merging
df = df.drop(columns=[c for c in df.columns if c in ["rpdqs_total","rpdqs_normalized"]], errors="ignore")

# Merge rPDQS results back into df
df = df.merge(
    servings[["rpdqs_total", "rpdqs_normalized"]],
    left_on="SEQN", right_index=True, how="left"
)

print("✓ rPDQS columns now present:",
      "rpdqs_total" in df.columns,
      "rpdqs_normalized" in df.columns)

print(df[["SEQN","rpdqs_total","rpdqs_normalized"]].head())

✓ rPDQS columns now present: True True
      SEQN  rpdqs_total  rpdqs_normalized
0  83732.0          NaN               NaN
1  83732.0          NaN               NaN
2  83732.0          NaN               NaN
3  83732.0          NaN               NaN
4  83732.0          NaN               NaN

## build BMI and normalize variables

In [100]:
# ----------------------------------------------------------
# Longevity Score v1.1: Compute & Normalize all components
# ----------------------------------------------------------

df = df_final.copy()



# -----------------------
# 1. BMI
# -----------------------
# NHANES variables:
# BMXWT = weight in kg
# BMXHT = height in cm
if {"BMXWT", "BMXHT"}.issubset(df.columns):
    df["bmi"] = df["BMXWT"] / (df["BMXHT"] / 100)**2
else:
    df["bmi"] = np.nan


# -----------------------
# 2. Normalize key domains
#    Each normalization maps raw values → 0–100 scale
# -----------------------

def normalize_positive(x, low, high):
    """Higher is better."""
    return ((x - low) / (high - low)) * 100

def normalize_negative(x, low, high):
    """Lower is better (e.g., CRP, ApoB, BMI)."""
    return ((high - x) / (high - low)) * 100


# -----------------------
# VO2max — NHANES DOES NOT HAVE
# Placeholder = NaN
# -----------------------
df["vo2max_raw"] = np.nan
df["vo2max_norm"] = np.nan


# -----------------------
# 2-hour OGTT — not in NHANES
# -----------------------
df["ogtt_raw"] = np.nan
df["ogtt_norm"] = np.nan


# -----------------------
# ApoB (estimated)
# -----------------------
if "apob_est" in df.columns:
    df["apob_norm"] = normalize_negative(df["apob_est"], low=40, high=120)
else:
    df["apob_norm"] = np.nan


# -----------------------
# CRP (NHANES variable: LBXCRP)
# -----------------------
if "LBXCRP" in df.columns:
    df["crp_norm"] = normalize_negative(df["LBXCRP"], low=0.1, high=10)
else:
    df["crp_norm"] = np.nan


# -----------------------
# BMI
# -----------------------
df["bmi_norm"] = normalize_negative(df["bmi"], low=18.5, high=35)


# -----------------------
# Smoking (pack-years)
# NHANES has: SMQ020 (ever smoked), SMD641 (years smoked)
# We estimate pack-years crudely.
# -----------------------
if {"SMD630", "SMD641"}.issubset(df.columns):
    df["cigs_per_day"] = df["SMD630"]
    df["years_smoked"] = df["SMD641"]
    df["pack_years"] = (df["cigs_per_day"] / 20) * df["years_smoked"]
    df["pack_years_norm"] = normalize_negative(df["pack_years"], low=0, high=50)
else:
    df["pack_years_norm"] = np.nan


# -----------------------
# Cognitive function — MoCA not in NHANES
# -----------------------
df["moca_norm"] = np.nan


# -----------------------
# MVPA (already computed)
# -----------------------
if "mvpa_min_week" in df.columns:
    df["mvpa_norm"] = normalize_positive(df["mvpa_min_week"], low=0, high=300)
else:
    df["mvpa_norm"] = np.nan


# -----------------------
# CAC — not in NHANES
# -----------------------
df["cac_norm"] = np.nan


# -----------------------
# HRV — not in NHANES
# -----------------------
df["hrv_norm"] = np.nan


# -----------------------
# PHQ-9 mental health
# -----------------------
df["phq9_norm"] = normalize_negative(df["phq9_total"], low=0, high=27)


# -----------------------
# ALT (liver enzyme)
# NHANES variable: LBXSGPT
# -----------------------
if "LBXSGPT" in df.columns:
    df["alt_norm"] = normalize_negative(df["LBXSGPT"], low=8, high=50)
else:
    df["alt_norm"] = np.nan


# -----------------------
# eGFR
# -----------------------
df["egfr_norm"] = normalize_positive(df["egfr"], low=60, high=110)


# -----------------------
# Bone Mineral Density — NHANES has DEXA data but not in your load
# -----------------------
df["bmd_norm"] = np.nan


# -----------------------
# Epigenetic Age (TruAge) — not in NHANES
# -----------------------
df["truage_norm"] = np.nan


# -----------------------
# Small HDL particles — not in NHANES
# -----------------------
df["shdl_norm"] = np.nan


# -----------------------
# REM sleep — not in NHANES
# -----------------------
df["rem_norm"] = np.nan


# -----------------------
# Grip strength — NHANES variable exists (MGDCGSZ)
# We will check and normalize
# -----------------------
grip_vars = [c for c in df.columns if "MGDC" in c]
if grip_vars:
    df["grip_strength"] = df[grip_vars].max(axis=1)
    df["grip_norm"] = normalize_positive(df["grip_strength"], low=10, high=60)
else:
    df["grip_norm"] = np.nan


# -----------------------
# Life Satisfaction (SWLS) — not in NHANES
# -----------------------
df["swls_norm"] = np.nan


# -----------------------
# Diet quality (rPDQS, already computed)
# -----------------------
df["diet_norm"] = df["rpdqs_normalized"]   # already 0–100


# -----------------------
# Final Longevity Score v1.1 inputs only
# -----------------------
longevity_inputs = [
    "ogtt_norm","apob_norm","vo2max_norm","crp_norm","bmi_norm",
    "pack_years_norm","moca_norm","mvpa_norm","cac_norm","hrv_norm",
    "phq9_norm","alt_norm","egfr_norm","bmd_norm","truage_norm",
    "shdl_norm","rem_norm","grip_norm","swls_norm","diet_norm"
]

df_longevity = df[["SEQN"] + longevity_inputs]

print("Longevity variable matrix shape:", df_longevity.shape)
df_longevity.head()

Longevity variable matrix shape: (122947, 21)

,SEQN,ogtt_norm,apob_norm,vo2max_norm,crp_norm,bmi_norm,pack_years_norm,moca_norm,mvpa_norm,cac_norm,...,phq9_norm,alt_norm,egfr_norm,bmd_norm,truage_norm,shdl_norm,rem_norm,grip_norm,swls_norm,diet_norm
0,83732.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.296296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,83732.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.296296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,83732.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.296296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,83732.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.296296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,83732.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.296296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

## exploratory data analysis

In [22]:
df_final.shape

(122947, 506)

In [23]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122947 entries, 0 to 122946
Columns: 506 entries, SEQN to rpdqs_normalized
dtypes: float64(501), int64(2), object(3)
memory usage: 474.6+ MB

In [24]:
df_final.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,sleep_hours,sleep_hours_clean,sleep_score,phq9_total,mvpa_min_week,egfr,servings,rpdqs_cat,rpdqs_total,rpdqs_normalized
0,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,2.0,NaN,NaN,1.0,NaN,NaN,7.2000,None,0,0
1,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,2.0,NaN,NaN,1.0,NaN,NaN,0.0400,None,0,0
2,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,2.0,NaN,NaN,1.0,NaN,NaN,0.0392,None,0,0
3,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,2.0,NaN,NaN,1.0,NaN,NaN,2.4000,None,0,0
4,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,2.0,NaN,NaN,1.0,NaN,NaN,0.7500,None,0,0

In [25]:
df_final.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
SEQN,122947.0,NaN,NaN,NaN,88751.485152,2882.920372,83732.0,86230.0,88786.0,91254.0,93702.0
SDDSRVYR,122947.0,NaN,NaN,NaN,9.0,0.0,9.0,9.0,9.0,9.0,9.0
RIDSTATR,122947.0,NaN,NaN,NaN,1.996527,0.05883,1.0,2.0,2.0,2.0,2.0
RIAGENDR,122947.0,NaN,NaN,NaN,1.51654,0.499728,1.0,1.0,2.0,2.0,2.0
RIDAGEYR,122947.0,NaN,NaN,NaN,34.406362,24.99601,0.0,11.0,32.0,56.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...
egfr,12520.0,NaN,NaN,NaN,132.238135,14.76773,81.12145,127.026781,133.57562,140.402916,177.139374
servings,120433.0,NaN,NaN,NaN,1.922487,3.555511,0.0003,0.31,0.98,2.4,174.0
rpdqs_cat,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rpdqs_total,122947.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
rpdqs_normalized,122947.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
# why are some rPDQS missing?

df_final.loc[df_final['rpdqs_cat'].isna(), ['SEQN','DR1DRSTZ','RIDAGEYR','WTDR2D']]

KeyError: "['DR1DRSTZ', 'WTDR2D'] not in index"

In [28]:
df_final.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'RIDEXAGM',
       ...
       'sleep_hours', 'sleep_hours_clean', 'sleep_score', 'phq9_total',
       'mvpa_min_week', 'egfr', 'servings', 'rpdqs_cat', 'rpdqs_total',
       'rpdqs_normalized'],
      dtype='object', length=506)

In [29]:
df.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'RIDEXAGM',
       ...
       'sleep_hours', 'sleep_hours_clean', 'sleep_score', 'phq9_total',
       'mvpa_min_week', 'egfr', 'servings', 'rpdqs_cat', 'rpdqs_total',
       'rpdqs_normalized'],
      dtype='object', length=506)

In [31]:
df_rpdqs.columns

Index(['SEQN', 'URXUMA', 'URDUMALC', 'URXUMS', 'URXUCR', 'URDUCRLC', 'URXCRS',
       'URDACT'],
      dtype='object')

In [32]:
import pandas as pd
[df_name for df_name in dir() if isinstance(eval(df_name), pd.DataFrame)]

['_15',
 '_19',
 '_20',
 '_21',
 '_24',
 '_25',
 '_3',
 '_5',
 'df',
 'df_final',
 'df_rpdqs',
 'fp',
 'fped',
 'merged',
 'serving_table']

In [33]:
fped.columns

Index(['SEQN', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'SDMVPSU', 'SDMVSTRA',
       'INDFMIN2', 'INDFMPIR', 'WTDRD1', 'WTDR2D', 'DR1DRSTZ', 'DRABF',
       'DRDINT', 'DR1TNUMF', 'DR1T_F_CITMLB', 'DR1T_F_OTHER', 'DR1T_F_JUICE',
       'DR1T_F_TOTAL', 'DR1T_V_DRKGR', 'DR1T_V_REDOR_TOMATO',
       'DR1T_V_REDOR_OTHER', 'DR1T_V_REDOR_TOTAL', 'DR1T_V_STARCHY_POTATO',
       'DR1T_V_STARCHY_OTHER', 'DR1T_V_STARCHY_TOTAL', 'DR1T_V_OTHER',
       'DR1T_V_TOTAL', 'DR1T_V_LEGUMES', 'DR1T_G_WHOLE', 'DR1T_G_REFINED',
       'DR1T_G_TOTAL', 'DR1T_PF_MEAT', 'DR1T_PF_CUREDMEAT', 'DR1T_PF_ORGAN',
       'DR1T_PF_POULT', 'DR1T_PF_SEAFD_HI', 'DR1T_PF_SEAFD_LOW',
       'DR1T_PF_MPS_TOTAL', 'DR1T_PF_EGGS', 'DR1T_PF_SOY', 'DR1T_PF_NUTSDS',
       'DR1T_PF_LEGUMES', 'DR1T_PF_TOTAL', 'DR1T_D_MILK', 'DR1T_D_YOGURT',
       'DR1T_D_CHEESE', 'DR1T_D_TOTAL', 'DR1T_OILS', 'DR1T_SOLID_FATS',
       'DR1T_ADD_SUGARS', 'DR1T_A_DRINKS'],
      dtype='object')

In [34]:
merged.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'RIDEXAGM',
       ...
       'LBDSTRSI', 'LBXSUA', 'LBDSUASI', 'URXUMA', 'URDUMALC', 'URXUMS',
       'URXUCR', 'URDUCRLC', 'URXCRS', 'URDACT'],
      dtype='object', length=489)

In [35]:
serving_table.columns

Index([], dtype='object', name='rpdqs_cat')

In [36]:
df_final['SEQN'].isin(fped['SEQN']).mean()

np.float64(0.9965269587708525)

In [37]:
fped['DR1DRSTZ'].value_counts(dropna=False)

DR1DRSTZ
1.0    8327
5.0     928
4.0     179
2.0     110
Name: count, dtype: int64

In [38]:
df_final[~df_final['SEQN'].isin(fped['SEQN'])]['SEQN'].head()

312     83758.0
479     83771.0
620     83782.0
1338    83846.0
1377    83850.0
Name: SEQN, dtype: float64

In [39]:
fped.loc[fped['SEQN'].isin([83758,83771,83782,83846,83850])]

Empty DataFrame
Columns: [SEQN, RIAGENDR, RIDAGEYR, RIDRETH3, SDMVPSU, SDMVSTRA, INDFMIN2, INDFMPIR, WTDRD1, WTDR2D, DR1DRSTZ, DRABF, DRDINT, DR1TNUMF, DR1T_F_CITMLB, DR1T_F_OTHER, DR1T_F_JUICE, DR1T_F_TOTAL, DR1T_V_DRKGR, DR1T_V_REDOR_TOMATO, DR1T_V_REDOR_OTHER, DR1T_V_REDOR_TOTAL, DR1T_V_STARCHY_POTATO, DR1T_V_STARCHY_OTHER, DR1T_V_STARCHY_TOTAL, DR1T_V_OTHER, DR1T_V_TOTAL, DR1T_V_LEGUMES, DR1T_G_WHOLE, DR1T_G_REFINED, DR1T_G_TOTAL, DR1T_PF_MEAT, DR1T_PF_CUREDMEAT, DR1T_PF_ORGAN, DR1T_PF_POULT, DR1T_PF_SEAFD_HI, DR1T_PF_SEAFD_LOW, DR1T_PF_MPS_TOTAL, DR1T_PF_EGGS, DR1T_PF_SOY, DR1T_PF_NUTSDS, DR1T_PF_LEGUMES, DR1T_PF_TOTAL, DR1T_D_MILK, DR1T_D_YOGURT, DR1T_D_CHEESE, DR1T_D_TOTAL, DR1T_OILS, DR1T_SOLID_FATS, DR1T_ADD_SUGARS, DR1T_A_DRINKS]
Index: []

[0 rows x 51 columns]

In [40]:
df_final.loc[df_final['SEQN'].isin([83758,83771,83782,83846,83850]),
             ['SEQN','rpdqs_total','rpdqs_cat']]

         SEQN  rpdqs_total rpdqs_cat
312   83758.0            0      None
479   83771.0            0      None
620   83782.0            0      None
1338  83846.0            0      None
1377  83850.0            0      None

In [41]:
fped[fped['SEQN'].isin([83758,83771,83782,83846,83850])]

Empty DataFrame
Columns: [SEQN, RIAGENDR, RIDAGEYR, RIDRETH3, SDMVPSU, SDMVSTRA, INDFMIN2, INDFMPIR, WTDRD1, WTDR2D, DR1DRSTZ, DRABF, DRDINT, DR1TNUMF, DR1T_F_CITMLB, DR1T_F_OTHER, DR1T_F_JUICE, DR1T_F_TOTAL, DR1T_V_DRKGR, DR1T_V_REDOR_TOMATO, DR1T_V_REDOR_OTHER, DR1T_V_REDOR_TOTAL, DR1T_V_STARCHY_POTATO, DR1T_V_STARCHY_OTHER, DR1T_V_STARCHY_TOTAL, DR1T_V_OTHER, DR1T_V_TOTAL, DR1T_V_LEGUMES, DR1T_G_WHOLE, DR1T_G_REFINED, DR1T_G_TOTAL, DR1T_PF_MEAT, DR1T_PF_CUREDMEAT, DR1T_PF_ORGAN, DR1T_PF_POULT, DR1T_PF_SEAFD_HI, DR1T_PF_SEAFD_LOW, DR1T_PF_MPS_TOTAL, DR1T_PF_EGGS, DR1T_PF_SOY, DR1T_PF_NUTSDS, DR1T_PF_LEGUMES, DR1T_PF_TOTAL, DR1T_D_MILK, DR1T_D_YOGURT, DR1T_D_CHEESE, DR1T_D_TOTAL, DR1T_OILS, DR1T_SOLID_FATS, DR1T_ADD_SUGARS, DR1T_A_DRINKS]
Index: []

[0 rows x 51 columns]

In [42]:
rpdqs_map

{'dark_green_veg': [6310, 6320],
 'other_veg': [6110, 6120, 6130, 6140],
 'citrus_melons_berries': [6210, 6220, 6230],
 'other_fruit': [6240, 6250],
 'legumes': [7510],
 'whole_grains': [5710, 5720],
 'nuts_seeds': [7410, 7420],
 'low_fat_dairy': [1310, 1320],
 'fish': [2710, 2720],
 'red_meat': [2510, 2520],
 'processed_meat': [2530, 2540],
 'refined_grains': [5610, 5620],
 'ssb': [9310, 9320, 9330],
 'fried_foods': [6410, 6420]}

In [43]:
seqns = [83758, 83771, 83782, 83846, 83850]

fped.loc[fped['SEQN'].isin(seqns)]

Empty DataFrame
Columns: [SEQN, RIAGENDR, RIDAGEYR, RIDRETH3, SDMVPSU, SDMVSTRA, INDFMIN2, INDFMPIR, WTDRD1, WTDR2D, DR1DRSTZ, DRABF, DRDINT, DR1TNUMF, DR1T_F_CITMLB, DR1T_F_OTHER, DR1T_F_JUICE, DR1T_F_TOTAL, DR1T_V_DRKGR, DR1T_V_REDOR_TOMATO, DR1T_V_REDOR_OTHER, DR1T_V_REDOR_TOTAL, DR1T_V_STARCHY_POTATO, DR1T_V_STARCHY_OTHER, DR1T_V_STARCHY_TOTAL, DR1T_V_OTHER, DR1T_V_TOTAL, DR1T_V_LEGUMES, DR1T_G_WHOLE, DR1T_G_REFINED, DR1T_G_TOTAL, DR1T_PF_MEAT, DR1T_PF_CUREDMEAT, DR1T_PF_ORGAN, DR1T_PF_POULT, DR1T_PF_SEAFD_HI, DR1T_PF_SEAFD_LOW, DR1T_PF_MPS_TOTAL, DR1T_PF_EGGS, DR1T_PF_SOY, DR1T_PF_NUTSDS, DR1T_PF_LEGUMES, DR1T_PF_TOTAL, DR1T_D_MILK, DR1T_D_YOGURT, DR1T_D_CHEESE, DR1T_D_TOTAL, DR1T_OILS, DR1T_SOLID_FATS, DR1T_ADD_SUGARS, DR1T_A_DRINKS]
Index: []

[0 rows x 51 columns]

In [44]:
for obj in dir():
    if "map" in obj.lower():
        print(obj)

rename_map
rpdqs_map

In [45]:
rename_map

{'LBXGLU': 'fasting_glucose',
 'LBXIN': 'fasting_insulin',
 'LBDHDD': 'hdl_cholesterol',
 'LBDTCSI': 'total_cholesterol',
 'LBDTRSI': 'triglycerides',
 'LBXSCR': 'serum_creatinine'}

In [46]:
rpdqs_map

{'dark_green_veg': [6310, 6320],
 'other_veg': [6110, 6120, 6130, 6140],
 'citrus_melons_berries': [6210, 6220, 6230],
 'other_fruit': [6240, 6250],
 'legumes': [7510],
 'whole_grains': [5710, 5720],
 'nuts_seeds': [7410, 7420],
 'low_fat_dairy': [1310, 1320],
 'fish': [2710, 2720],
 'red_meat': [2510, 2520],
 'processed_meat': [2530, 2540],
 'refined_grains': [5610, 5620],
 'ssb': [9310, 9320, 9330],
 'fried_foods': [6410, 6420]}

In [47]:
import pandas as pd

[x for x in dir() if isinstance(eval(x), dict)]

['Out',
 '_',
 '_42',
 '_45',
 '_46',
 '__',
 '_oh',
 'all_dfs',
 'healthy_groups',
 'nhanes_files',
 'rename_map',
 'rpdqs_map',
 'unhealthy_groups']

In [48]:
import re

for i, cell in enumerate(In):
    if re.search(r'rpdqs_cat', cell, flags=re.IGNORECASE):
        print(f"Cell {i}:")
        print(cell)
        print("-----")

Cell 5:
import numpy as np
import pandas as pd

df = merged.copy()

# ---------------------------------------------------------
# 0. Basic demographics
# ---------------------------------------------------------
df["sex"] = df["RIAGENDR"]                          # 1=Male, 2=Female
df["race_ethnicity"] = df["RIDRETH3"]               # Used in Longevity Score v1.1

# Age (NHANES 2015–2016 uses RIDEXAGM, months)
df["age"] = df["RIDEXAGM"] / 12

# Poverty ratio
df["poverty_income_ratio"] = df["INDFMIN2"]

# ---------------------------------------------------------
# 1. Rename biochemical variables
# ---------------------------------------------------------
rename_map = {
    "LBXGLU": "fasting_glucose",
    "LBXIN": "fasting_insulin",
    "LBDHDD": "hdl_cholesterol",
    "LBDTCSI": "total_cholesterol",   # fixed
    "LBDTRSI": "triglycerides",       # fixed
    "LBXSCR": "serum_creatinine"
}

df.rename(columns={k:v for k,v in rename_map.items() if k in df.columns}, inplace=True)

# ---------------------------------------------------------
# 2. LDL (Friedewald) + ApoB
# ---------------------------------------------------------
def friedewald(row):
    tg = row["triglycerides"]
    if pd.isna(tg) or tg >= 400:
        return np.nan
    return row["total_cholesterol"] - row["hdl_cholesterol"] - tg/5

df["ldl_cholesterol"] = df.apply(friedewald, axis=1)
df["apob_est"] = 0.65 * df["ldl_cholesterol"] + 0.1 * df["triglycerides"]

# ---------------------------------------------------------
# 3. HOMA-IR
# ---------------------------------------------------------
df["homa_ir"] = (df["fasting_insulin"] * df["fasting_glucose"]) / 405

# ---------------------------------------------------------
# 4. Sleep (SLQ030 = valid sleep variable for 2015–2016)
# ---------------------------------------------------------
sleep_var = "SLQ030"

df["sleep_hours"] = df[sleep_var]

df["sleep_hours_clean"] = df[sleep_var].where(
    (df[sleep_var] >= 3) & (df[sleep_var] <= 14),
    np.nan
)

def compute_sleep_score(x):
    if pd.isna(x): return np.nan
    if 7 <= x <= 9: return 100
    if 6 <= x < 7 or 9 < x <= 10: return 80
    return 50

df["sleep_score"] = df["sleep_hours_clean"].apply(compute_sleep_score)

# ---------------------------------------------------------
# 5. PHQ-9
# ---------------------------------------------------------
phq_cols = [col for col in df.columns if col.startswith("DPQ0")]
df["phq9_total"] = df[phq_cols].sum(axis=1)

# ---------------------------------------------------------
# 6. Physical activity (leisure MSPA)
# ---------------------------------------------------------
if all(c in df.columns for c in ["PAD615","PAD630","PAD645","PAD660"]):
    vig = df["PAD615"] * df["PAD630"]
    mod = df["PAD645"] * df["PAD660"]
    df["mvpa_min_week"] = vig * 2 + mod

# ---------------------------------------------------------
# 7. eGFR — CKD-EPI 2021
# ---------------------------------------------------------
scr = df["serum_creatinine"]
k = np.where(df["sex"] == 2, 0.7, 0.9)
alpha = np.where(df["sex"] == 2, -0.241, -0.302)

min_val = (scr / k).clip(upper=1) ** alpha
max_val = (scr / k).clip(lower=1) ** -1.200
df["egfr"] = 142 * min_val * max_val * (0.9938 ** df["age"])

# ---------------------------------------------------------
# 8. Minimal rPDQS — warn: DR1IFDCD does NOT map to rPDQS correctly
# ---------------------------------------------------------
df["servings"] = df["DR1IGRMS"] / 100

def classify_food(code):
    # placeholder; real rPDQS requires FNDDS → food groups mapping
    return None

df["rpdqs_cat"] = df["DR1IFDCD"].apply(classify_food)

serving_table = df.groupby(["SEQN","rpdqs_cat"])["servings"].sum().unstack().fillna(0)
df = df.merge(serving_table, on="SEQN", how="left")

# scoring for placeholder categories
def pos_score(s): return pd.qcut(s, 5, labels=[0,1,2,3,4], duplicates="drop").astype(float)
def neg_score(s): return pd.qcut(s, 5, labels=[4,3,2,1,0], duplicates="drop").astype(float)

# no-op because categories are empty
df["rpdqs_total"] = 0
df["rpdqs_normalized"] = 0

# ---------------------------------------------------------
# Final dataset
# ---------------------------------------------------------
df_final = df.copy()
print("FINAL SHAPE:", df_final.shape)
df_final.head()
-----
Cell 15:
import numpy as np
import pandas as pd

df = merged.copy()

# ---------------------------------------------------------
# 0. Basic demographics
# ---------------------------------------------------------
df["sex"] = df["RIAGENDR"]                          # 1=Male, 2=Female
df["race_ethnicity"] = df["RIDRETH3"]               # Used in Longevity Score v1.1

# Age (NHANES 2015–2016 uses RIDEXAGM, months)
df["age"] = df["RIDEXAGM"] / 12

# Poverty ratio
df["poverty_income_ratio"] = df["INDFMIN2"]

# ---------------------------------------------------------
# 1. Rename biochemical variables
# ---------------------------------------------------------
rename_map = {
    "LBXGLU": "fasting_glucose",
    "LBXIN": "fasting_insulin",
    "LBDHDD": "hdl_cholesterol",
    "LBDTCSI": "total_cholesterol",   # fixed
    "LBDTRSI": "triglycerides",       # fixed
    "LBXSCR": "serum_creatinine"
}

df.rename(columns={k:v for k,v in rename_map.items() if k in df.columns}, inplace=True)

# ---------------------------------------------------------
# 2. LDL (Friedewald) + ApoB
# ---------------------------------------------------------
def friedewald(row):
    tg = row["triglycerides"]
    if pd.isna(tg) or tg >= 400:
        return np.nan
    return row["total_cholesterol"] - row["hdl_cholesterol"] - tg/5

df["ldl_cholesterol"] = df.apply(friedewald, axis=1)
df["apob_est"] = 0.65 * df["ldl_cholesterol"] + 0.1 * df["triglycerides"]

# ---------------------------------------------------------
# 3. HOMA-IR
# ---------------------------------------------------------
df["homa_ir"] = (df["fasting_insulin"] * df["fasting_glucose"]) / 405

# ---------------------------------------------------------
# 4. Sleep (SLQ030 = valid sleep variable for 2015–2016)
# ---------------------------------------------------------
sleep_var = "SLQ030"

df["sleep_hours"] = df[sleep_var]

df["sleep_hours_clean"] = df[sleep_var].where(
    (df[sleep_var] >= 3) & (df[sleep_var] <= 14),
    np.nan
)

def compute_sleep_score(x):
    if pd.isna(x): return np.nan
    if 7 <= x <= 9: return 100
    if 6 <= x < 7 or 9 < x <= 10: return 80
    return 50

df["sleep_score"] = df["sleep_hours_clean"].apply(compute_sleep_score)

# ---------------------------------------------------------
# 5. PHQ-9
# ---------------------------------------------------------
phq_cols = [col for col in df.columns if col.startswith("DPQ0")]
df["phq9_total"] = df[phq_cols].sum(axis=1)

# ---------------------------------------------------------
# 6. Physical activity (leisure MSPA)
# ---------------------------------------------------------
if all(c in df.columns for c in ["PAD615","PAD630","PAD645","PAD660"]):
    vig = df["PAD615"] * df["PAD630"]
    mod = df["PAD645"] * df["PAD660"]
    df["mvpa_min_week"] = vig * 2 + mod

# ---------------------------------------------------------
# 7. eGFR — CKD-EPI 2021
# ---------------------------------------------------------
scr = df["serum_creatinine"]
k = np.where(df["sex"] == 2, 0.7, 0.9)
alpha = np.where(df["sex"] == 2, -0.241, -0.302)

min_val = (scr / k).clip(upper=1) ** alpha
max_val = (scr / k).clip(lower=1) ** -1.200
df["egfr"] = 142 * min_val * max_val * (0.9938 ** df["age"])

# ---------------------------------------------------------
# 8. Minimal rPDQS — warn: DR1IFDCD does NOT map to rPDQS correctly
# ---------------------------------------------------------
df["servings"] = df["DR1IGRMS"] / 100

def classify_food(code):
    # placeholder; real rPDQS requires FNDDS → food groups mapping
    return None

df["rpdqs_cat"] = df["DR1IFDCD"].apply(classify_food)

serving_table = df.groupby(["SEQN","rpdqs_cat"])["servings"].sum().unstack().fillna(0)
df = df.merge(serving_table, on="SEQN", how="left")

# scoring for placeholder categories
def pos_score(s): return pd.qcut(s, 5, labels=[0,1,2,3,4], duplicates="drop").astype(float)
def neg_score(s): return pd.qcut(s, 5, labels=[4,3,2,1,0], duplicates="drop").astype(float)

# no-op because categories are empty
df["rpdqs_total"] = 0
df["rpdqs_normalized"] = 0

# ---------------------------------------------------------
# Final dataset
# ---------------------------------------------------------
df_final = df.copy()
print("FINAL SHAPE:", df_final.shape)
df_final.head()
-----
Cell 27:
# why are some rPDQS missing?

df_final.loc[df_final['rpdqs_cat'].isna(), ['SEQN','DR1DRSTZ','RIDAGEYR','WTDR2D']]
-----
Cell 40:
df_final.loc[df_final['SEQN'].isin([83758,83771,83782,83846,83850]),
             ['SEQN','rpdqs_total','rpdqs_cat']]
-----
Cell 48:
import re

for i, cell in enumerate(In):
    if re.search(r'rpdqs_cat', cell, flags=re.IGNORECASE):
        print(f"Cell {i}:")
        print(cell)
        print("-----")
-----